__pycache__/
*.pyc

# venv / secrets
.env
.venv/
venv/

# logs / outputs
*.log
*.out
runs/
outputs/
results/
airfoil_history*
cl_cd_history*
airfoil_*.zip
*.dat
*.csv
# models / checkpoints
*.ckpt
*.pt
*.pth
*.pkl

# OS
.DS_Store
